@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

@font-face {
  font-family: "NEXON Lv2 Gothic Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NEXON Lv2 Gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SBAggroL";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  background: (
    linear,
    left top,
    left bottom,
    (15%, #dbe9f6),
    (44%, #fefcc9),
    (#f7d0d5)
  );
  background: linear-gradient(180deg, #dbe9f6 15%, #fefcc9 44%, #f7d0d5 100%);
  font-family: "NEXON Lv2 Gothic", sans-serif;
}
main {
  padding: 4rem 0;
  box-sizing: border-box;
}
header {
  width: 100%;
}
#menu {
  width: 100%;
  position: fixed;
  z-index: 99;
  transition: all 0.5s ease-in-out;
}
.home {
  width: 100%;
  margin: auto;
  padding: 10rem 0;
}
.home > div {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home h1 {
  font-size: 7.3rem;
  font-family: "SBAggroB";
  background: #9759bb;
  background: linear-gradient(-154deg, #9759bb 20%, #fca6c6 60%, #f6af97 80%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  padding: 3rem 0;
}

.home p {
  font-size: 2rem;
  font-family: "SBAggroB";
  padding: 3rem 0;
  background: #9759bb;

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.main-btn {
  margin: auto;
  width: 20rem;
  height: 5rem;
  border-radius: 2rem;
  font-size: 1.5rem;
  font-family: "NEXON Lv2 Gothic Bold";
  background: #9759bb;
  background: linear-gradient(-70deg, #9759bb 20%, #fca6c6 60%, #f6af97 80%);
}

.main-btn:hover {
  background: #9759bb;
  background: linear-gradient(-70deg, #9759bb 20%, #fca6c6 60%, #f6af97 80%);
}

.nav_fixed {
  height: 4rem;
  background-color: #fff;
}

.menu-check {
  display: none;
  z-index: 99;
}
.menu-toggle > .menu-close{
  display: none;
}

.nav_menu {
  width: 1200px;
  height: 4rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px;
}
.nav_menu a {
  transition: all 0.5s ease-in-out;
}
.nav_menu > ul {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
.nav_menu p {
  font-family: "NEXON Lv2 Gothic Bold";
  font-size: 1.5rem;
  color: #71787d;
  cursor: pointer;
}
.nav_menu p:hover {
  color: #9759bb;
  transition: all 0.5s ease-in-out;
}
.nav_menu > ul li {
  color: #71787d;
  font-family: "NEXON Lv2 Gothic Bold";
}
label {
  position: absolute;
  right: 1rem;
  cursor: pointer;
  display: none;
  z-index: 99;
}
main {
  width: 100%;
}
.about {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 6rem 0;
}
.about-title {
  margin: 30px 0;
  border-bottom: 1px solid #666;
}
.about-title > h1 {
  font-family: "SBAggroB";
  font-size: 2.5rem;
  font-weight: 600;
}

.about-info {
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 4rem;
}
.about-info > div {
  width: 33.3333%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-info h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
.about-info p {
  font-size: 1.5rem;
}

.about-info div:nth-child(1),
.about-info :nth-child(2),
.about-info :nth-child(3) {
  margin: 1.5rem 0;
}

.main-arc {
  width: 100%;
  box-sizing: border-box;
  padding: 6rem 0;
}
.archiving {
  width: 100%;
  margin: auto;
}
.wrap {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 2rem 0;
}
.wrap > div {
  width: 25rem;
  margin: 0 10rem;
}
.archiving-title {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 2rem 0;
}

.archiving-title > h1 {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "SBAggroB";
  border-bottom: 1px solid #666;
  margin: 40px 0;
}

.git {
  width: 26rem;
  height: 20rem;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 2rem;
  margin: auto;
}

.git > h1 {
  font-size: 2rem;
  margin: 15px 0;
}

.git > p {
  font-size: 1rem;
  margin: 15px 0;
}
.git li {
  list-style: square;
  margin-bottom: 10px;
}

.tistory {
  width: 26rem;
  height: 20rem;

  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 2rem;
  border: 1px solid #fff;
  margin: auto;
}
.git > a {
  width: 100%;
}
.text-box {
  width: 100%;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
  padding: 3rem;
}
.text-box > h1 {
  font-size: 2rem;
  line-height: 2rem;
}

.text-box > p {
  font-size: 1.2rem;
  line-height: 3rem;
}

.text-box li {
  list-style: square;
  line-height: 2rem;
}

.work {
  width: 100%;
  box-sizing: border-box;
  padding: 6rem 0;
}
.work-wrap {
  width: 100%;
  margin: auto;
}

.work-title {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 5rem 0;
}

.work-title > h1 {
  font-family: "SBAggroB";
  font-size: 2.5rem;
  font-weight: 600;
  border-bottom: 1px solid #666;
}

.work-wrap {
  width: 100%;
  margin: auto;
}

.work-box {
  width: 1200px;
  padding: 3rem 0;
  display: flex;
  background: rgb(127, 171, 252);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.1)
  );
  border-radius: 2rem;
  align-items: center;
  justify-content: space-evenly;
  margin: 4rem auto;
  border: 1px solid #fff;
}
.work-thumbnail {
  width: 25rem;
  height: 18rem;
  vertical-align: middle;
  position: relative;
}

.work-img {
  width: 100%;
  height: 100%;
  background-color: rgba(2, 37, 59, 0.95);
  position: absolute;
  border-radius: 2rem;
  opacity: 0;
}
.work-img:hover {
  opacity: 0.9;
  transition: all 0.5s ease-in-out;
}
.work-img_text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.work-thumbnail img {
  box-sizing: border-box;
  border-radius: 2rem;
  width: 100%;
  height: 100%;
}

.work_txt {
  margin-bottom: 20px;
  width: 30rem;
}

.work_txt > h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 40px;
}
.work_txt > p {
  font-size: 1rem;
}

button {
  background: #b621fe;
  border: none;
  z-index: 1;
  width: 100px;
  height: 34px;
  border-radius: 2rem;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  margin-top: 40px;
  color: #fff;
}
button:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: #663dff;
  border-radius: 2rem;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
button:hover {
  color: #fff;
}
button:hover:after {
  left: 0;
  width: 100%;
}
button:active {
  top: 2px;
}
footer {
  width: 100%;
  height: 8rem;
}
.icon-box {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  box-sizing: border-box;
  padding: 1rem 0;
}
.icon-box .fab {
  margin: 0 1rem;
}
.footer-txt {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 80%;
  }
  .nav_menu {
    width: auto;
  }
  .home > div {
    width: auto;
  }
  .work-box {
    width: auto;
    margin: 2rem;
  }
  .about-info {
    width: auto;
  }

  .wrap {
    flex-wrap: wrap;
  }

  .wrap > div {
    width: 100%;
    margin: 2rem 0;
  }
  .tistory,
  .git {
    width: 40rem;
    text-align: center;
  }
  .tistory ul,
  .git ul {
    width: 50%;
    margin: auto;
  }
}

@media screen and (max-width: 757px) {
  html {
    font-size: 70%;
  }
  .work-box {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
  }
  .work_txt {
    margin: 3rem 0;
    text-align: center;
    font-size: 30%;
  }
  .work_txt > p {
    font-size: 1.5rem;
  }
  label {
    display: block;
    font-size: 2rem;
  }
  .menu-close > i {
    display: none;
  }
  
  .nav_menu > ul {
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    transition: all 0.4s ease-in-out;
    top: -1rem;
    right: 0;
    width: 100%;
    padding-top: 7rem;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
  }
  .head-menu > li{
    width: 100%;
    height: 15rem;
    text-align: center;
    line-height: 15rem;
  }
  .head-menu a {
    font-size: 2rem;
  }
  .head-menu a :active{
    color: #663dff;
  }
  .menu-check:checked ~ .head-menu {
    visibility: visible;
    opacity: 0.9;
    height: 120vh;
  }
  .menu-check:checked ~ .menu-toggle .menu-close {
    display: block;
  }
  .menu-check:checked ~ .menu-toggle .menu-open {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 50%;
  }

  .work_txt > p {
    font-size: 1.75rem;
  }
  .about-info > div {
    width: 50%;
  }
  .home  h1{
   font-size: 10rem;
  }
}
